@font-face {
font-family: "Anonymous Pro";
src: url("../fonts/AnonymousPro-Bold.ttf");
font-weight: 700;
}
@font-face {
font-family: "Anonymous Pro";
src: url("../fonts/IBMPlexMono-Medium.ttf");
font-weight: 500;
}
@font-face {
font-family: "Anonymous Pro";
src: url("../fonts/AnonymousPro-Bold.ttf");
}
h1 {
font-family: "Anonymous Pro", sans-serif;
font-size: 56px;
}
h2 {
font-family: "Anonymous Pro", sans-serif;
font-size: 48px;
}
p {
font-family: "Anonymous Pro", sans-serif;
font-size: 14px;
}
body{
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
background: #F1F1F1;
margin: 0px;
}
header{
width: 100%;
flex-shrink: 0;
border-bottom: 1px solid grey;
background-color: #FFFFFF
}
.main {
justify-content: center; 
display: flex; 
gap: 25px; 
flex-wrap: wrap; 
padding-bottom: 25px;
}
.header-container {
display: flex;
margin: 50px auto;
justify-content: space-around;
margin-right: 15%;
}
.r1 {
height: 1px;
flex-shrink: 0;
background: var(--text_gray, #A1A6B4);
}
.social-list {
display: flex;
flex-direction: row;
list-style: none;
padding: 0;
}
.social-list li a {
color: var(--black, #000);
font-family: Anonymous Pro;
font-size: 20px;
font-style: normal;
font-weight: 700;
margin-left: 30px;
text-decoration: none;
}
.content {
width: 1340px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.subtitle {
width: 767px;
color: var(--black, #121723);
font-family: IBM Plex Mono;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 100%; 
}
.title {
color: var(--black, #121723);
font-family: Anonymous Pro;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
align-self: stretch;
}
.text {
color: var(--black, #121723);
font-family: Anonymous Pro;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
.sneakers {
display: flex;
flex-wrap: wrap;
gap: 25px;
} 
.card_bottom {
padding: 32px 24px;
background: #FFFFFF;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
overflow: hidden;
justify-content: flex-start;
align-items: center;
gap: 10px;
display: inline-flex;
width: 371px;
flex-direction: column;
}
.image {
width: 370px;
}
.footer {
background: var(--black, #121723);
width: 100%;
flex-shrink: 0;
margin-top: 25px;
}
.footer__container{
width: 1160px;
display: flex;
margin: 33px auto;
justify-content: space-between;
margin-right: 23%;
}
.social-lists_footer{
 display: flex;
list-style: none;
margin-top: auto;
}
.social-lists_footer a {
color: var(--white, #fff);
font-family: Anonymous Pro;
font-size: 20px;
font-style: normal;
font-weight: 700;
margin-left: 24px;
text-decoration: none;
}
.hr{
position: relative;
top: 70%;
align-items: center;
background: rgba(230, 232, 236, 0.40);
margin-right: 23%;
}
.footertitle {
padding-bottom: 21px;
padding-top: 21px;
margin-right: 9%;
}
.footer__title {
color: var(--text_gray, #A1A6B4);
font-family: Anonymous Pro;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 

}
 